/* style.css
*/

/* styling to center infromation on the page */
#intro{
  text-align: center;
  font-size: 20px;
}

#contact me {
  text-align: center;
  fopnt-size: 20px;

}

#footer-nav a:hover {
  color: #1167a8;
  text-align: center;
}

ul {
  text-align: center;
  list-style-position: inside;
}

ol {
  text-align: center;
  list-style-position: inside;
}


body {
  background-color: #ffffe6;
}

/* this is the styling for the knitted picture */

img {
  display: block;
  padding-left: 50px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  height: 20%;
  width: 20%;
}
/* sytling for my name */

h1 {
  text-align: center;
  font-family: "Comic Sans";
  font-size: 30px;
  color: #000066;
}

/* styling for intro and about me */

h2 {
  text-align: center;
  font-family: "sans-serif";
  font-size: 15px;
  color: #0033cc;
}
/* styling for contact information */

h3 a:hover {
  color: 1167a8;
  text-align: center;
}

/* styling for paragraphs and lists */

p, li a:hover {
  color: 1167a8;
  text-align: center;
  list-style-position: inside;
  font-family: Arial;
}
