/* style.css
*/

#intro{
  text-align: center;
}

#contact me {
  text-align: center;

}

#footer-nav{
  text-align: center;
}

ul {
  text-align: center;
  list-style-position: inside;
}


body {
  background-color: #ffffe6;
}

img {
  float: center
  padding-left: 50px;
  margin-top: 10px;
  margin-left: 150px;
  height: 15%;
  width: 15%;
}

h1 {
  text-align: center;
  font-family: "Comic Sans";
  font-size: 30px;
  color: #000066;
}

h2 {
  text-align: center;
  font-family: "sans-serif";
  font-size: 15px;
  color: #0033cc;
}

p, li {
  text-align: center;
  list-style-position: inside;
  font-family: Arial;
}
